<!DOCTYPE html>
<html lang="de"><!-- use class="debug" here if you develope a template and want to check-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
   	<!-- some meta tags, important for SEO"--> 
    <meta name="description" content="put a short description in here" />
    <meta name="keywords" content="put your important keywords in here" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index,follow" />
	
	<title>ResponseEve Template Home</title>
			
            <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
            <meta name="viewport" content="width=device-width" />
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")
            
            <link rel="shortcut icon" href="icon.png" />
            <link rel="apple-touch-icon-precomposed" href="img/icon.png" />
            
            <script src="js/respond-min.js" type="text/javascript"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
            <script>window.jQuery || document.write('<script src="scripts/jquery164min.js">\x3C/script>')</script><!--local fallback for JQuery-->
			<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
			<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
            <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
            <link rel="stylesheet" href="css/flexslider.css" />
            
            <script type="text/javascript">
				  $(window).load(function() {
					$('.flexslider').flexslider({
						  animation: "slide",<!--you can also choose fade here-->
						  directionNav: false,<!--Attention: if you choose true here, the nav-buttons will also appear in the ticker! -->
						  keyboardNav: true,
						  mousewheel: true
					});
				  });
				</script>
               
                    <!--Hide the hr img because of ugly borders in IE7. You can change the color of border-top to display a line -->
                    <!--[if lte IE 7]>

                        <style>
                    		hr { display:block; height:1px; border:0; border-top:1px solid #fff; margin:1em 0; padding:0; }
                            .grid-4{ width:22% }
                        </style>
                    <![endif]-->

</head>
<!--===============================================================  Logo, social and menu =====================================================================================--> 

<body>




        
          
                @RenderBody()
          
        <div class="wrapper">
					<div id="footer">
            	
                
                			<div class="grids">
                                <div class="grid-5 grid text-center">
                                    <p>&copy; Eve 2012 by <a href="http://sg-layout.com" title="SG-Layout Webdesign - contact me!"> SiGa</a></p>
                                </div>
                                <div class="grid-6 grid text-center">
                                    <p>Free responsive template v 1.0</p>
                                </div>
                                
                                <div class="grid-5 grid text-center">
                                  <p>Contact me <a href="http://sg-layout.com/kontakt/" title="Contact me!">here</a></p>
                                </div>
                                
                           </div><!--end of grids-->
                   </div><!--end of footer-->
		   </div><!--end of wrapper-->
    
    
        				<script type="text/javascript"> <!--Outdated browsers warning/message and link to Browser-Update. Comment or delete it if you don´t want to use it-->
    var $buoop = {} 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
        try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
        var e = document.createElement("script"); 
        e.setAttribute("type", "text/javascript"); 
        e.setAttribute("src", "http://browser-update.org/update.js"); 
        document.body.appendChild(e); 
    } 
                        </script> 
                        <script type="text/javascript" src="js/script.js"></script>
						<!--[if !IE]> -->
						<script type="text/javascript" src="js/jquery.corner.js"></script>
                        <!-- <![endif]-->
       
        @RenderSection("scripts", required: false)
    
</body>
</html>
    