@{
    ViewBag.Title = "Developmental Disabilities";
}

<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
            <p>
                Strategies for Developmental Disabilities: Acquisition of Knowledge
            </p>
            <p>
                <ol>
                    <li>Be as concrete and explicit as possible.</li>
                    <li>Ascertain the learner’s ideal learning and instructional style.</li>
                    <li>Use visual demonstration along with verbally taught material to teach new information.</li>
                    <li>Present novel material in small chunks.</li>
                    <li>Repetition of information can be an asset and will help the learner consolidate the material.</li>
                    <li>Design material to be taught in a way that makes it more personal to the learner.</li>
                    <li>Make certain through frequent checks that the learner is comprehending.</li>
                    <li>Continual reinforce information through various mediums (visual and auditory aids).</li>
                    <li>Allow for time for review.</li>
                    <li>Give the student immediate feedback.</li>
                    <li>Teach the learner life skills-often with developmental disabilities they need assistance in hygiene care, feeding, social and other life skills.</li>
                </ol>
            </p>
            <p>Strategies for Developmental Disabilities: Memory</p>
                <ol>
                    <li>Try and develop links between new information and prior knowledge.</li>
                    <li>Instruct and teach students to chunk information into smaller bits of material to assist in retention.</li>
                    <li>Help students generate ways to link memories-memory cues that are personal and meaningful for them.</li>
                    <li>Repetition of material is an asset.</li>
                    <li>Generate an environment where students do not have to rely heavily on memory.</li>
                    <li>Teach learners to use memory aids (e.g., calendars, day timer, Black Berry, cheat sheets).</li>
                    <li>Create work/assignment sheets to be carried with them-back this up with a helper or teacher ensuring that it is filled in properly.</li>
                    <li>Use multi-modalities (visual, tackle, and visual cues).</li>
                    <li>Use rhyme, poems, and songs where applicable.</li>
                    <li>Chunk work into smaller more manageable pieces.</li>
                </ol>
                <p>Strategies for Developmental Disabilities: Organization</p>
                <ol>
                    <li>Set up and maintain daily routines.</li>
                    <li>Provide written daily schedules and review them at the start of each day with the learner.</li>
                    <li>Often times students with developmental disabilities are not able to make notes and follow an outline; however if the student is at this level provide an outline of class lecture and have the students make notes.</li>
                    <li>Keep duplicate copies of assignments and materials for students who misplace their work.</li>
                    <li>Break complex task into smaller more easily managed task-write a checklist of steps for completing each step in reaching the goal.</li>
                    <li>Teach study skills.</li>
                    <li>Uncluttered work-space.</li>
                </ol>
                <p>Strategies for Developmental Disabilities: Attention</p>
                <ol>
                    <li>Provided an environment with minimal distraction.</li>
                    <li>Break information and material into smaller chunks.</li>
                    <li>Put student as close to the teacher as possible when teaching a lesson.</li>
                    <li>Place student away from areas that may distract them (i.e., windows and doors).</li>
                    <li>Be consistent with routines.</li>
                    <li>Let them know when you are going to have them shift their attention to a new subject.</li>
                </ol>
                <p>Strategies for Developmental Disabilities: Perception/Vision</p>
                <ol>
                    <li>An environment that is or is not visual stimulating would depend on the learners needs-this will take trial and error in some cases (e.g. a Snozalum room may be adjusted accordingly and may provided relaxation or stress).</li>
                    <li>Create an environment that is not too visual stimulating or busy.</li>
                    <li>Highlight important information.</li>
                    <li>Use a multi-sensory approach when teaching where possible.</li>
                    <li>Use visual aids, such as pictures to help the learner communicate-point to or have the learner point at the picture (i.e. toilet).</li>
                    <li>Post class schedules and rules so the learner can refer to them.</li>
                    <li>Try and make sure the learner has an unobtrusive view.</li>
                    <li>Provide repeat and longer viewing time.</li>
                    <li>Try and maintain a clean workspace.</li>
                </ol>
                <p>Strategies for Developmental Disabilities: Perception Auditory</p>
                <ol>
                    <li>Allow for more time for the learner to process information and provide and answer.<li>
                    <li>Try and keep classroom noise to a minimal.<li>
                    <li>Eye contact may cause some learner to feel uncomfortable –understand your learner before engaging in eye contact.<li>
                    <li>Use a multi-sensory approach when teaching.<li>
                    <li>Highlight important materials and information.<li>
                    <li>Be explicit with directions and check for comprehension.<li>
                    <li>Touch may distract the learner and may be unwelcome. As well, the learner may not understand who or who they cannot touch-use touch with caution.<li>
                    <li>Position the student for maximum hearing.<li>
                </ol>
                <p>Strategies for Developmental Disabilities: Reasoning</p>
                <ol>
                    <li>Provide concrete and explicit examples.</li>
                    <li>Confirm comprehension.</li>
                    <li>Use modelling, talking aloud, rehearsal, and role playing to teach reasoning skills and understanding.</li>
                </ol>
                <p>Strategies for Developmental Disabilities: Problem Solving</p>
                <ol>
                    <li>Involve the learner in the strategies process-help them discover what they feel may be working or not.</li>
                    <li>Provide prompts of strategy use.</li>
                    <li>Break down the problems into smaller steps-use step-by-step problem solving strategies.</li>
                    <li>Coach and aid learners in the generation of solutions.</li>
                </ol>
        </div>
    </div>
</div>
